.col-3 {
  padding: 20px;
  color: #00b1a5;
  font-weight: bolder;
  font-family: roboto;
}
.col-4 {
  padding: 20px;
  color: #00b1a5;
  font-weight: bolder;
  font-family: roboto;
  font-size: larger;
}
.col-4:hover {
  color: #ff3366;
}
.city {
  padding: 5px 0;
  border-radius: 4px;
}
.btn-primary {
  background: #ff3366;
  border: #00b1a5;
}
.btn-primary:hover {
  background: #00b1a5;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  font-size: smaller;
}
.units {
  position: relative;
  top: -34px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
div {
  display: block;
}
