body {
  font-family: roboto;
  background: #f0f0f0;
  margin-top: 50px;
}
.container {
  max-width: 600px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #b6b6b6;
  border-radius: 10px;
}
#search-button {
  background: #ffd588;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  padding: 2px 20px;
  font-size: 15px;
  font-weight: 500;
}
.col-3 {
  padding: 20px;
  color: #00b1a5;
  font-weight: bolder;
}
.col-4 {
  padding: 20px;
  color: #00b1a5;
  font-weight: bolder;
  font-size: larger;
}

.city {
  padding: 10px 0;
  border-radius: 4px;
}

.card-group {
  padding-top: 20px;
}
.card-text {
  font-size: 20px;
}
h1 {
  font-family: Arial, sans-serif;
  color: #7c7c7c;
  font-size: 35px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 20px;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
}
a {
  color: #885df1;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  font-size: smaller;
}
span {
  color: #7c7c7c;
  font-size: smaller;
}
.units {
  position: relative;
  top: -32px;
  font-size: 15px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-bottom: 22px;
}
small {
  color: #7c7c7c;
}
